# optimized for pnpm monorepo turbo and docker
auto-install-peers=true
dedupe-peer-dependents=true
save-workspace-protocol=rolling
store-dir=.pnpm/store
frozen-lockfile=true
prefer-frozen-lockfile=true
